# The version range is for numba
numpy
matplotlib>=3.5.2
scipy
numba
tqdm
# only needed for python versions less than 3.9
importlib-metadata
# could be elminated by upgrading to python 3.10 where tomllib is parts of the standard library
toml
